<% provide(:title, "Home") %>
<h1>Adnat</h1>
<p> Welcome to Adnat, please choose one of the options below: </p>
<ul>
  <li><%= link_to "Sign Up", signup_path %></li>
  <li><%= link_to "Log In", '#' %></li>
  <li><%= link_to "Forgot my password", '#' %></li>
  <li><%= link_to "About", about_path %></li>
</ul>

<p>The code below here will be removed</p>
<p>
  This is the home page for the
  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>