<%-# TODO: Check if i need to change the title here -%>
<% provide(:title, "User Home") %>
<h1>Adnat</h1>
<p> 
    <%= "Logged in as " + @user.name %>
    <%= link_to "Log Out", '#' %>
</p>

<p> Future code to list and join organisations </p>
<p> Future code/form to Create and Join an organisation </p>